
<footer class="footer">
  <div class="main-wrapper">
    <div class="footer__contacts">
      <div class="footer__card">
        <h2 class="footer__header">Discover New Treats</h2>
        <p class="footer__text">Sign up to the newsletter to receive promo codes and latest updates!</p>
      </div>
      <div class="footer__card">
        <h4 class="footer__email">Signup Now</h4>
        <div class="footer__wrapper">
          <div class="footer__input-wrapper"><i class="icon-email"></i>
            <input class="w-full" type="text" placeholder="Input your email here"/>
          </div>
          <button class="button button--secondary w-full">Submit</button>
        </div>
      </div>
    </div>
    <div class="footer__socials">
      <div class="footer__social-wrapper">
        <div class="tablet:flex"><a href="#"><img class="footer__mobile-logo" src="../images/logo-white.png" alt="Treats Logo"/></a>
          <ul class="footer__links">
            <li class="footer__items"><a href="#">FAQ </a></li>
            <li class="footer__items"><a href="#">Terms </a></li>
            <li class="footer__items"><a href="#">Privacy </a></li>
            <li class="footer__items"><a href="contact-us.html">Contact </a></li>
            <li class="footer__items"><a href="#">Sponsorship </a></li>
            <li class="footer__items"><a href="#">Music</a></li>
          </ul>
        </div>
        <div>
          <ul class="footer__links footer__links--socials">
            <li class="footer__items footer__items--socials"><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
            <li class="footer__items footer__items--socials"><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
            <li class="footer__items footer__items--socials"><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
            <li class="footer__items footer__items--socials"><a href="#"><i class="fa-brands fa-pinterest"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="footer__copyright"><i class="fa-regular fa-copyright"></i>
        <p>Treats 2023, All Rights Reserved</p>
      </div>
    </div>
  </div>
</footer>