
<div class="testimony-social testimony-social--component">
  <div class="main-wrapper">
    <div class="testimony-social__list animatedParent animateOnce" data-sequence="500">
      <div class="testimony-social__card animated fadeInLeftShort" data-id="1"><a class="testimony-social__link" href="#"><img src="../images/user-1.png" alt="Treat user"/></a></div>
      <div class="testimony-social__card animated fadeInLeftShort" data-id="2"><a class="testimony-social__link" href="#"><img src="../images/user-2.png" alt="Treat user"/></a></div>
      <div class="testimony-social__card animated fadeInRightShort" data-id="2"><a class="testimony-social__link" href="#"><img src="../images/user-3.png" alt="Treat user"/></a></div>
      <div class="testimony-social__card animated fadeInRightShort" data-id="1"><a class="testimony-social__link" href="#"><img src="../images/user-4.png" alt="Treat user"/></a></div>
    </div>
    <div class="testimony-social__list testimony-social__list--mobile js-carousel">
      <div class="testimony-social__card"><a class="testimony-social__link" href="#"><img src="../images/user-1.png" alt="Treat user"/></a></div>
      <div class="testimony-social__card"><a class="testimony-social__link" href=""><img src="../images/user-2.png" alt="Treat user"/></a></div>
      <div class="testimony-social__card"><a class="testimony-social__link" href=""><img src="../images/user-3.png" alt="Treat user"/></a></div>
      <div class="testimony-social__card"><a class="testimony-social__link" href=""><img src="../images/user-4.png" alt="Treat user"/></a></div>
    </div>
  </div>
</div>