
<div class="testimony testimony--component">
  <div class="main-wrapper main-wrapper--testimony">
    <div class="testimony__card animatedParent animateOnce">
      <div class="testimony__header">
        <h3>What Customer <br class="testimony__separator"/>Say About Treats</h3>
      </div>
      <div class="testimony__cards animated bounceIn">
        <div class="testimony__list">
          <div class="multiple-items js-single-item"></div>
        </div>
      </div>
    </div>
  </div>
</div>