
<header class="header">
  <div class="header__info">
    <p>Free Shipping in the US. <a href="#">Get Started </a></p>
  </div>
  <div class="header__mobile">
    <div class="header__mobile-wrapper">
      <button class="js-nav-toggle header__mobile-btn"></button>
      <div class="header__mobile-nav">
        <div class="header__mobile-nav-wrapper">
          <ul class="header__mobile-nav-list">
            <li class="header__mobile-nav-item"><a href="index.html">Home</a></li>
            <li class="header__mobile-nav-item"><a href="office.html">Office</a></li>
            <li class="header__mobile-nav-item"><a href="#">Past Boxes</a></li>
            <li class="header__mobile-nav-item"><a href="shop.html">Shop</a></li>
            <li class="header__mobile-nav-item uppercase"><a href="faq.html">FAQ</a></li>
            <li class="header__mobile-nav-item"><i class="icon-user"></i><a href="login.html">Login</a></li>
            <li class="header__mobile-nav-item"><i class="icon-cart"></i><a href="cart.html">Cart</a></li>
          </ul>
          <div class="header__mobile-cta"><a href="gift.html">
              <button class="button w-full mb-[10px]">Give a gift</button></a><a href="plan.html">
              <button class="button button--secondary w-full">Get Started</button></a></div>
        </div>
      </div><a href="index.html"><img class="header__mobile-logo" src="../images/logo.png" alt="Treats logo"/></a>
      <button class="js-user-toggle"><img class="header__mobile-user" src="../images/user.png" alt="User profile"/></button>
      <ul class="header__nav-list">
        <li class="header__nav-item"><a class="header__nav-link" href="#">Logout </a></li>
      </ul>
    </div>
  </div>
  <div class="header__desktop">
    <div class="main-wrapper">
      <div class="header__desktop-wrapper">
        <div class="header__inside"><a class="header__logo" href="index.html"><img src="../images/logo.png" alt="Treats"/></a>
          <nav class="nav">
            <ul class="nav__list">
              <li class="nav__item"><a href="office.html">Office</a></li>
              <li class="nav__item"><a href="#">Past Boxes</a></li>
              <li class="nav__item"><a href="shop.html">Shop</a></li>
              <li class="nav__item"><a href="faq.html">FAQ</a></li>
            </ul>
          </nav>
        </div>
        <div class="header__inside">
          <div class="header__inside"><a href="gift.html">
              <button class="button button--40 mr-5">Give a gift</button></a><a href="plan.html">
              <button class="button button--secondary button--40 mr-[41px]">Get Started</button></a></div>
          <div class="header__inside">
            <div class="header__center"><a href="login.html">Login<i class="icon-user icon-user--desktop"></i></a></div>
            <div class="header__center"><a href="cart.html">Cart<i class="icon-cart icon-cart--desktop"></i></a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>