
<div class="join">
  <div class="main-wrapper">
    <div class="join__wrapper animatedParent animateOnce">
      <div class="join__header">
        <h2>Join The #TryTreats Family On Instagram</h2>
        <p>Share photos of your Treats with us!</p>
      </div>
      <div class="join__card" data-sequence="500">
        <div class="join__item-wrapper animated fadeInLeftShort" data-id="1"><img class="join__item" src="../images/join1.png" alt="Treats Instagram"/></div>
        <div class="join__item-wrapper animated fadeInLeftShort" data-id="2"><img class="join__item" src="../images/join2.png" alt="Treats Instagram"/></div>
        <div class="join__item-wrapper animated fadeInRightShort" data-id="2"><img class="join__item" src="../images/join3.png" alt="Treats Instagram"/></div>
        <div class="join__item-wrapper animated fadeInRightShort" data-id="1"><img class="join__item" src="../images/join4.png" alt="Treats Instagram"/></div>
      </div>
      <div class="join__card join__card--mobile js-carousel">
        <div class="join__item-wrapper"><img class="join__item" src="../images/join1.png" alt="Treats Instagram"/></div>
        <div class="join__item-wrapper"><img class="join__item" src="../images/join2.png" alt="Treats Instagram"/></div>
        <div class="join__item-wrapper"><img class="join__item" src="../images/join3.png" alt="Treats Instagram"/></div>
        <div class="join__item-wrapper"><img class="join__item" src="../images/join4.png" alt="Treats Instagram"/></div>
      </div>
      <button class="button button--secondary animated fadeInUp mx-auto">Join Us Now</button>
    </div>
  </div>
</div>