extends layout.pug

block content
  section.section
    .breadcrumbs
      h2.uppercase Music
      ul.breadcrumbs__list
        li.breadcrumbs__item Home
        li.breadcrumbs__item.uppercase Music
    .music
      .main-wrapper
        .music__wrapper
          .music__current
            iframe(src="https://www.youtube.com/embed/videoseries?list=PLiwkmHKzRwO3M7db9qFiDb77GYtkLMByH", title="YouTube video player", frameborder="0", allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share", allowfullscreen)
            .music__description 
              h4 Indonesia Music
              .music__description-wrapper
                .music__description-inside
                  i.music__icon.music__icon--calendar
                  span Apr 14, 2022
                .music__description-inside
                  i.music__icon.music__icon--clock
                  span 4:21
            .music__lyrics
              h4 Lyrics
              .mb-2
                p Perjalanan membawamu
                p Bertemu denganku
                p Ku bertemu kamu
                p Sepertimu yang kucari
                p Konon aku juga seperti yang kau cari
              .mb-2 
                p Kukira kita asam dan garam
                p Dan kita bertemu di belanga
                p Kisah yang ternyata tak seindah itu
              .mb-2 
                p Kukira kita akan bersama
                p Begitu banyak yang sama
                p Latarmu dan latarku
              .mb-2 
                p Kukira takkan ada kendala
                p Kukira inikan mudah
                p Kau aku jadi kita
              .mb-2 
                p Kasih sayangmu membekas
                p Redam kini sudah pijar istimewa
                p Entah apa maksud dunia
                p Tentang ujung cerita
                p Kita tak bersama
              .mb-2 
                p Semoga rindu ini menghilang
                p Konon katanya waktu sembuhkan
                p Akan adakah lagi yang sepertimu
              .mb-2 
                p Kukira kita akan bersama
                p Begitu banyak yang sama
                p Latarmu dan latarku
                p Kukira takkan ada kendala
                p Kukira inikan mudah
                p Kau aku jadi kita
              .mb-2 
                p Kau melanjutkan perjalananmu
                p Ku melanjutkan perjalananku
                p Uh uh uh
              .mb-2 
                p Kukira kita akan bersama
                p Begitu banyak yang sama
                p Latarmu dan latarku
                p Kukira takkan ada kendala
                p Kukira inikan mudah
                p Kau aku jadi kita
                p Kukira kita akan bersama
              .mb-2 
                p Hati-hati di jalan
          .music__side
            .music__side-item
              a(href="taiwan.html") 
                iframe(src="https://www.youtube.com/embed/videoseries?list=PLiwkmHKzRwO0kkm_0ma6FgZsi6XmNSjTV", title="YouTube video player", frameborder="0", allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
                h5 Taiwan Music / F4
            .music__side-item
              a(href="phil.html") 
                iframe(src="https://www.youtube.com/embed/E5Sgxp7K7BQ?si=7ttvQ_T1LQqGm1Oj", title="YouTube video player", frameborder="0", allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share", allowfullscreen)
                h5 Philippines Music
            .music__side-item
              a(href="peruvian.html") 
                iframe(src="https://www.youtube.com/embed/QgxJiSSLX0k?si=oovUehOSneVZJx0s&controls=0", title="YouTube video player", frameborder="0", allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share", allowfullscreen)
                h5 Peruvian Music
            .music__side-item
              a(href="indo.html") 
                iframe(src="https://www.youtube.com/embed/9II3OGZETo4?si=FVhLdVXq3-8EZb3M", title="YouTube video player", frameborder="0", allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share", allowfullscreen)
                h5 Indonesia Music
            .music__side-item
              a(href="malaysia.html") 
                iframe(src="https://www.youtube.com/embed/DDOs_6tRNqM?si=olrBj2O8Ah84Cu-c", title="YouTube video player", frameborder="0", allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share", allowfullscreen)
                h5 Malaysia Music
            .music__side-item
              a(href="israel.html") 
                iframe(src="https://www.youtube.com/embed/ckObp0fTNmU?si=emfmxZiUXzA9Apch", title="YouTube video player", frameborder="0", allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share", allowfullscreen)
                h5 Israel Music