extends layout.pug

block content
  section.section
    .breadcrumbs
      h2.uppercase Music
      ul.breadcrumbs__list
        li.breadcrumbs__item Home
        li.breadcrumbs__item.uppercase Music
    .music
      .main-wrapper
        .music__wrapper
          .music__current
            iframe(src="https://www.youtube.com/embed/xdsqWCG2wxU?si=XQd8i23kp-K9md5b", title="YouTube video player", frameborder="0", allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share", allowfullscreen)
            .music__description 
              h4 Israel Music
              .music__description-wrapper
                .music__description-inside
                  i.music__icon.music__icon--calendar
                  span Feb 9, 2022
                .music__description-inside
                  i.music__icon.music__icon--clock
                  span 4:53
            .music__lyrics.text-right.mr-5
              h4 Lyrics
              .mb-2.text-right
                p אם הייתי שלה אולי הייתי שמח
                p כל הזמן
                p הם מדברים עלייה ואני פתאום לא שומע
                p כי לאן
                p אני אלך אם היא כבר לא מראה לי איפה הדרך
                p זה אבסורד
                p היא מרגישה מלכה וכנראה אני לא המלך
              .mb-2 
                p ונגמרו הכוחות
                p אין יותר מילים
                p לי אין מה לעשות
                p לה אין אלוהים
                p אני שואל שאלות
                p היא מורידה בגדים
                p ואז עולה זריחה
              .mb-2 
                p איך היא יודעת הכל
                p ואני שה תמים
                p היא באה בלילות
                p הלכו לי הימים
                p נשארתי לפחות
                p אלף פעמים
                p לבד על המיטה
              .mb-2 
                p אם הייתי חכם אולי הייתי בורח
                p כבר מזמן
                p היא זרקה אותי כאילו שאני סתם מפתח
                p ולאן
                p אני אפול אם היא כבר לא תתפוס אותי לעת ערב
                p זה אבסורד
                p אני קניתי פרחים והיא הוציאה לי חרב
              .mb-2 
                p ונגמרו הכוחות
                p אין יותר מילים
                p לי אין מה לעשות
                p לה אין אלוהים
                p אני שואל שאלות
                p היא מורידה בגדים
                p ואז עולה זריחה
              .mb-2 
                p איך היא יודעת הכל
                p ואני שה תמים
                p היא באה בלילות
                p הלכו לי הימים
                p נשארתי לפחות
                p אלף פעמים
                p לבד על המיטה
          .music__side
            .music__side-item
              a(href="taiwan.html") 
                iframe(src="https://www.youtube.com/embed/videoseries?list=PLiwkmHKzRwO0kkm_0ma6FgZsi6XmNSjTV", title="YouTube video player", frameborder="0", allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
                h5 Taiwan Music / F4
            .music__side-item
              a(href="phil.html") 
                iframe(src="https://www.youtube.com/embed/E5Sgxp7K7BQ?si=7ttvQ_T1LQqGm1Oj", title="YouTube video player", frameborder="0", allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share", allowfullscreen)
                h5 Philippines Music
            .music__side-item
              a(href="peruvian.html") 
                iframe(src="https://www.youtube.com/embed/QgxJiSSLX0k?si=oovUehOSneVZJx0s&controls=0", title="YouTube video player", frameborder="0", allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share", allowfullscreen)
                h5 Peruvian Music
            .music__side-item
              a(href="indo.html") 
                iframe(src="https://www.youtube.com/embed/9II3OGZETo4?si=FVhLdVXq3-8EZb3M", title="YouTube video player", frameborder="0", allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share", allowfullscreen)
                h5 Indonesia Music
            .music__side-item
              a(href="malaysian.html") 
                iframe(src="https://www.youtube.com/embed/DDOs_6tRNqM?si=olrBj2O8Ah84Cu-c", title="YouTube video player", frameborder="0", allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share", allowfullscreen)
                h5 Malaysia Music
            .music__side-item
              a(href="israel.html") 
                iframe(src="https://www.youtube.com/embed/ckObp0fTNmU?si=emfmxZiUXzA9Apch", title="YouTube video player", frameborder="0", allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share", allowfullscreen)
                h5 Israel Music