extends layout.pug

block content
  section.section
    .breadcrumbs
      h2.uppercase Music
      ul.breadcrumbs__list
        li.breadcrumbs__item Home
        li.breadcrumbs__item.uppercase Music
    .music
      .main-wrapper
        .music__wrapper
          .music__current
            iframe(src="https://www.youtube.com/embed/xdsqWCG2wxU?si=XQd8i23kp-K9md5b", title="YouTube video player", frameborder="0", allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share", allowfullscreen)
            .music__description 
              h4 Malaysian Music
              .music__description-wrapper
                .music__description-inside
                  i.music__icon.music__icon--calendar
                  span Jun 25, 2008
                .music__description-inside
                  i.music__icon.music__icon--clock
                  span 4:13
            .music__lyrics
              h4 Lyrics
              .mb-2
                p Kucuba redakan relung hati
                p Bayangmu yang berlalu pergi
                p Terlukis di dalam kenangan
                p Fa come vuole
                p Bebas bermain di hatiku
              .mb-2 
                p Dan cerita tentang masa lalu
                p Cerita tentang kau dan aku
                p Kini tinggal hanya kenangan
                p Kau abadi dalam hatiku
              .mb-2 
                p Harusnya takkan kubiarkan engkau pergi
                p Membuatku terpuruk, rasa ingin mati
                p Derita yang mendera, kapan akan berakhir?
                p Hanya engkau yang mampu taklukkan hatiku
              .mb-2 
                p Cerita tentang masa lalu
                p Cerita tentang kau dan aku
                p Kini tinggal hanya kenangan
                p Kau abadi dalam hatiku
              .mb-2 
                p Harusnya takkan kubiarkan engkau pergi
                p Membuatku terpuruk, rasa ingin mati
                p Derita yang mendera, kapan akan berakhir?
                p Hanya engkau yang mampu taklukkan hatiku
              .mb-2 
                p Ah, aku cinta, uh-wo-oh
                p Ah, aku cinta, wo-wo-oh
                p Ah, aku cinta, uh-wo-oh
                p Ah, aku cinta, wo-wo-uh
              .mb-2 
                p Hu-wo-wo-wo-wo-wo
                p Uh-hu-hu-hu-uh
              .mb-2 
                p Harusnya takkan kubiarkan engkau pergi
                p Membuatku terpuruk, rasa ingin mati
                p Derita yang mendera, kapan akan berakhir?
                p Hanya engkau yang mampu taklukkan hatiku
              .mb-2 
                p Ah, aku cinta, uh-wo-oh
                p Ah, aku cinta, oh-wo-wo-wo
                p Ah, aku cinta, uh-wo-wo-oh
                p Ah, aku cinta, uh-uh
              .mb-2 
                p Hu-ho-uh-ho
                p Wo-ho, wo-ho-uh-oh-uh
          .music__side
            .music__side-item
              a(href="taiwan.html") 
                iframe(src="https://www.youtube.com/embed/videoseries?list=PLiwkmHKzRwO0kkm_0ma6FgZsi6XmNSjTV", title="YouTube video player", frameborder="0", allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
                h5 Taiwan Music / F4
            .music__side-item
              a(href="phil.html") 
                iframe(src="https://www.youtube.com/embed/E5Sgxp7K7BQ?si=7ttvQ_T1LQqGm1Oj", title="YouTube video player", frameborder="0", allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share", allowfullscreen)
                h5 Philippines Music
            .music__side-item
              a(href="peruvian.html") 
                iframe(src="https://www.youtube.com/embed/QgxJiSSLX0k?si=oovUehOSneVZJx0s&controls=0", title="YouTube video player", frameborder="0", allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share", allowfullscreen)
                h5 Peruvian Music
            .music__side-item
              a(href="indo.html") 
                iframe(src="https://www.youtube.com/embed/9II3OGZETo4?si=FVhLdVXq3-8EZb3M", title="YouTube video player", frameborder="0", allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share", allowfullscreen)
                h5 Indonesia Music
            .music__side-item
              a(href="malaysia.html") 
                iframe(src="https://www.youtube.com/embed/DDOs_6tRNqM?si=olrBj2O8Ah84Cu-c", title="YouTube video player", frameborder="0", allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share", allowfullscreen)
                h5 Malaysia Music
            .music__side-item
              a(href="israel.html") 
                iframe(src="https://www.youtube.com/embed/ckObp0fTNmU?si=emfmxZiUXzA9Apch", title="YouTube video player", frameborder="0", allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share", allowfullscreen)
                h5 Israel Music