extends layout.pug

block content
  section.section
    .breadcrumbs
      h2.uppercase Music
      ul.breadcrumbs__list
        li.breadcrumbs__item Home
        li.breadcrumbs__item.uppercase Music
    .music
      .main-wrapper
        .music__wrapper
          .music__current
            iframe(src="https://www.youtube.com/embed/xdsqWCG2wxU?si=XQd8i23kp-K9md5b", title="YouTube video player", frameborder="0", allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share", allowfullscreen)
            .music__description 
              h4 Italy Music / Vivo
              .music__description-wrapper
                .music__description-inside
                  i.music__icon.music__icon--calendar
                  span Jan 14, 2021
                .music__description-inside
                  i.music__icon.music__icon--clock
                  span 4:53
            .music__lyrics
              h4 Lyrics
              .mb-2
                p Vivo
                p Ma non ho scelta né un motivo
                p Il mondo è un tipo irrazionale
                p Fa come vuole
                p Non dà nessuna spiegazione
              .mb-2 
                p Ti conviene
                p Cogliere il tempo che rimane
                p Prima che smetta di bruciare
                p Dentro al tuo cuore
                p Anche il più piccolo ideale
                p Che sta tremando di terrore
              .mb-2 
                p Lo so bene
                p La vita è breve e pure stretta
                p Ma la tua mente è una gran sarta
                p Che cuce in fretta
                p Il tempo di una sigaretta
              .mb-2 
                p Che fa bene
                p A chi ha la luna maledetta
                p E dalla vita non si aspetta
                p Che sia perfetta
                p Si gode quello che gli spetta
                p Perché si muore troppo in fretta
              .mb-2 
                p Tu lo sai che ti conviene
                p Finger di non sapere
                p Che il mondo è verticale e vai giù
                p Insieme alla tua tempra morale
                p Che teme di invecchiare
                p E di dimenticare
                p Come si cambia in fretta
          .music__side
            .music__side-item
              a(href="taiwan.html") 
                iframe(src="https://www.youtube.com/embed/videoseries?list=PLiwkmHKzRwO0kkm_0ma6FgZsi6XmNSjTV", title="YouTube video player", frameborder="0", allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
                h5 Taiwan Music / F4
            .music__side-item
              a(href="phil.html") 
                iframe(src="https://www.youtube.com/embed/E5Sgxp7K7BQ?si=7ttvQ_T1LQqGm1Oj", title="YouTube video player", frameborder="0", allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share", allowfullscreen)
                h5 Philippines Music
            .music__side-item
              a(href="peruvian.html") 
                iframe(src="https://www.youtube.com/embed/QgxJiSSLX0k?si=oovUehOSneVZJx0s&controls=0", title="YouTube video player", frameborder="0", allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share", allowfullscreen)
                h5 Peruvian Music
            .music__side-item
              a(href="indo.html") 
                iframe(src="https://www.youtube.com/embed/9II3OGZETo4?si=FVhLdVXq3-8EZb3M", title="YouTube video player", frameborder="0", allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share", allowfullscreen)
                h5 Indonesia Music
            .music__side-item
              a(href="malaysian.html") 
                iframe(src="https://www.youtube.com/embed/DDOs_6tRNqM?si=olrBj2O8Ah84Cu-c", title="YouTube video player", frameborder="0", allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share", allowfullscreen)
                h5 Malaysia Music
            .music__side-item
              a(href="israel.html") 
                iframe(src="https://www.youtube.com/embed/ckObp0fTNmU?si=emfmxZiUXzA9Apch", title="YouTube video player", frameborder="0", allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share", allowfullscreen)
                h5 Israel Music