extends layout.pug

block content
  section.section
    .breadcrumbs
      h2.uppercase Music
      ul.breadcrumbs__list
        li.breadcrumbs__item Home
        li.breadcrumbs__item.uppercase Music
    .music
      .main-wrapper
        .music__wrapper
          .music__current
            iframe(src="https://www.youtube.com/embed/xdsqWCG2wxU?si=XQd8i23kp-K9md5b", title="YouTube video player", frameborder="0", allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share", allowfullscreen)
            .music__description 
              h4 Peruvian Music
              .music__description-wrapper
                .music__description-inside
                  i.music__icon.music__icon--calendar
                  span Mar 26, 2007
                .music__description-inside
                  i.music__icon.music__icon--clock
                  span 4:53
            .music__lyrics
              h4 Lyrics
              .mb-2
                p ¡Qué bonito!
                p ¡Ah, caramba!
                p ¡Quémala!
                p ¡Quema ahí! ¡Eso!
                p ¡Así!
                p ¡Quémala!
                p ¡Eso! ja, ja
                p ¡Así!
              .mb-2 
                p Negrito, ven, préndeme la vela
                p Negrita, ven, préndeme la vela
                p Pa' quemar a ese negro, pa' quemarle el Alcatraz
                p Pa' quemar a esa negra, pa' quemarle el Alcatraz
              .mb-2 
                p Negrito, ven, préndeme la vela
                p Negrita, ven, préndeme la vela
                p Pa' quemar a ese negro, pa' quemarle el Alcatraz
                p Pa' quemar a esa negra, pa' quemarle el Alcatraz
              .mb-2 
                p ¡Quema! Uh-ah
                p Ja, ja, ¡quémala!
              .mb-2 
                p A mí no me quema naide, naide me puede quemar
                p Con el tapete que tengo, la vela la vo' a apagar
                p Con el tapete que tengo, la vela la vo' a apagar
              .mb-2 
                p Negrito, ven, préndeme la vela
                p Negrita, ven, préndeme la vela
                p Pa' quemar a ese negro, pa' quemarle el Alcatraz
                p Pa' quemar a esa negra, pa' quemarle el Alcatraz
              .mb-2 
                p Quema, uh-ah
                p Quema, quema
                p ¡Quémala! (¡quémala ahí!)
                p Brilla, compadre
                p ¡Así! (¡quémala!)
              .mb-2 
                p Quema la negra Cachita, la negra más embala'
                p La que se trompea como hombre, fuma y chupa de verdad
                p La que se trompea como hombre, fuma y chupa de verdad
              .mb-2 
                p Negrito, ven, préndeme la vela
                p Negrita, ven, préndeme la vela
                p Pa' quemar a ese negro, pa' quemarle el Alcatraz
                p Pa' quemar a esa negra, pa' quemarle el Alcatraz
              .mb-2 
                p Ey, ¡quema!
                p Quémala, quémala, quémala, quémala
                p Quémala, quémala, quémala, quémala
                p Que se mueve más que una licuadora, ja, ja, ja
                p Quema y quema
                p ¡Qué buena cintura!
              .mb-2 
                p Vamos, comadre Cachita, vamos todos a empezar
                p A remover el tambembe pa' ver quién lo mueve más
                p A remover el tambembe pa' ver quién lo mueve más
              .mb-2 
                p Negrito, ven, préndeme la vela
                p Negrita, ven, préndeme la vela
                p Pa' quemar a ese negro, pa' quemarle el Alcatraz
                p Pa' quemar a esa negra, pa' quemarle el Alcatraz
              .mb-2 
                p Pa' quemar a ese negro, pa' quemarle el Alcatraz
                p Pa' quemar a esa negra, pa' quemarle el Alcatraz
                p Pa' quemar a ese negro, pa' quemarle el Alcatraz
                p Pa' quemar a esa negra, pa' quemarle el Alcatraz
              .mb-2 
                p Pa' quemar a ese negro, pa' quemarle el Alcatraz
                p Pa' quemar a esa negra, pa' quemarle el Alcatraz
                p Pa' quemar a ese negro, pa' quemarle el Alcatraz
                p Pa' quemar a esa negra, pa' quemarle el Alcatraz
              .mb-2 
                p Pa' quemar a ese negro, pa' quemarle el Alcatraz
                p Pa' quemar a esa negra, pa' quemarle el Alcatraz
          .music__side
            .music__side-item
              a(href="taiwan.html") 
                iframe(src="https://www.youtube.com/embed/videoseries?list=PLiwkmHKzRwO0kkm_0ma6FgZsi6XmNSjTV", title="YouTube video player", frameborder="0", allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
                h5 Taiwan Music / F4
            .music__side-item
              a(href="phil.html") 
                iframe(src="https://www.youtube.com/embed/E5Sgxp7K7BQ?si=7ttvQ_T1LQqGm1Oj", title="YouTube video player", frameborder="0", allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share", allowfullscreen)
                h5 Philippines Music
            .music__side-item
              a(href="peruvian.html") 
                iframe(src="https://www.youtube.com/embed/QgxJiSSLX0k?si=oovUehOSneVZJx0s&controls=0", title="YouTube video player", frameborder="0", allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share", allowfullscreen)
                h5 Peruvian Music
            .music__side-item
              a(href="indo.html") 
                iframe(src="https://www.youtube.com/embed/9II3OGZETo4?si=FVhLdVXq3-8EZb3M", title="YouTube video player", frameborder="0", allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share", allowfullscreen)
                h5 Indonesia Music
            .music__side-item
              a(href="malaysia.html") 
                iframe(src="https://www.youtube.com/embed/DDOs_6tRNqM?si=olrBj2O8Ah84Cu-c", title="YouTube video player", frameborder="0", allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share", allowfullscreen)
                h5 Malaysia Music
            .music__side-item
              a(href="israel.html") 
                iframe(src="https://www.youtube.com/embed/ckObp0fTNmU?si=emfmxZiUXzA9Apch", title="YouTube video player", frameborder="0", allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share", allowfullscreen)
                h5 Israel Music