extends layout.pug

block content
  section.section
    .breadcrumbs
      h2.uppercase Music
      ul.breadcrumbs__list
        li.breadcrumbs__item Home
        li.breadcrumbs__item.uppercase Music
    .music
      .main-wrapper
        .music__wrapper
          .music__current
            iframe(src="https://www.youtube.com/embed/videoseries?list=PLiwkmHKzRwO3QY89tqtGQlJL5DFxDEC7R", title="YouTube video player", frameborder="0", allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share", allowfullscreen)
            .music__description 
              h4 Philippines Music
              .music__description-wrapper
                .music__description-inside
                  i.music__icon.music__icon--calendar
                  span Sep 30, 2022
                .music__description-inside
                  i.music__icon.music__icon--clock
                  span 3:49
            .music__lyrics
              h4 Lyrics
              .mb-2
                p Hindi naman inaakalang
                p Ikaw pala ang makakasama
                p Ang hanap ko noon
                p Ibang iba sa ngayon
                p Ika'y dumating, sa tamang panahon
                p Ikaw na ba yung dinalangin ko
              .mb-2 
                p Handa kong gawin ang lahat
                p Makapiling ka lang
                p Walang hihigit Sa iyo
                p Ikutin pa ang mundo
                p Ako'y babalik babalik sayo
              .mb-2 
                p Tanging ikaw ang sigaw
                p Ng puso araw araw
                p Aminin ko na sayo,
                p Ngayon lang nagka gan'to
                p Ako'y babalik babalik babalik parin sayo
              .mb-2 
                p Sino ba ang magaakalang
                p Mabibigyan ako ng pag-asa
                p Labas sa liga ko
                p Isang katulad mo
                p Ngunit nang dumating, napatanong ako
                p Ikaw na ba yung pinangarap ko
              .mb-2 
                p Handa kong gawin ang lahat
                p Makapiling ka lang
                p Walang hihigit sa iyo
                p Ikutin pa ang mundo
                p Ako'y babalik babalik sayo
              .mb-2 
                p Tanging ikaw ang sigaw
                p Ng puso araw araw
                p Aminin ko na sayo,
                p Ngayon lang nagka gan'to
                p Ako'y babalik babalik babalik parin sayo
              .mb-2 
                p Oh, oh, oh
                p Oh, oh, oh
                p Ba ba da ba da ba ba...
              .mb-2 
                p Handa kong gawin ang lahat
                p Makapiling ka lang
                p Walang hihigit sa iyo
                p Ikutin pa ang mundo
                p Ako'y babalik babalik sayo
              .mb-2 
                p Tanging ikaw ang sigaw
                p Ng puso araw araw
                p Aminin ko na sayo,
                p Ngayon lang nagka gan'to
                p Ako'y babalik babalik sayo
              .mb-2 
                p Oh, oh, oh
                p Oh, oh, oh
                p Ba ba da ba da ba ba...
          .music__side
            .music__side-item
              a(href="taiwan.html") 
                iframe(src="https://www.youtube.com/embed/videoseries?list=PLiwkmHKzRwO0kkm_0ma6FgZsi6XmNSjTV", title="YouTube video player", frameborder="0", allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
                h5 Taiwan Music / F4
            .music__side-item
              a(href="music.html") 
                iframe(src="https://www.youtube.com/embed/xdsqWCG2wxU?si=KuixC5ofF97HBil8", title="YouTube video player", frameborder="0", allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share", allowfullscreen)
                h5 Italy Music
            .music__side-item
              a(href="peruvian.html") 
                iframe(src="https://www.youtube.com/embed/QgxJiSSLX0k?si=oovUehOSneVZJx0s&controls=0", title="YouTube video player", frameborder="0", allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share", allowfullscreen)
                h5 Peruvian Music
            .music__side-item
              a(href="indo.html") 
                iframe(src="https://www.youtube.com/embed/9II3OGZETo4?si=FVhLdVXq3-8EZb3M", title="YouTube video player", frameborder="0", allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share", allowfullscreen)
                h5 Indonesia Music
            .music__side-item
              a(href="malaysia.html") 
                iframe(src="https://www.youtube.com/embed/DDOs_6tRNqM?si=olrBj2O8Ah84Cu-c", title="YouTube video player", frameborder="0", allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share", allowfullscreen)
                h5 Malaysia Music
            .music__side-item
              a(href="israel.html") 
                iframe(src="https://www.youtube.com/embed/ckObp0fTNmU?si=emfmxZiUXzA9Apch", title="YouTube video player", frameborder="0", allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share", allowfullscreen)
                h5 Israel Music