extends layout.pug

block content
  section.section
    .breadcrumbs
      h2 The Treat Shop
      ul.breadcrumbs__list
        li.breadcrumbs__item Home
        li.breadcrumbs__item Shop
        li.breadcrumbs__item All
    .shop
      .main-wrapper
        .shop__box
          .shop__search-wrapper
            i.fas.fa-search.shop__icon-search
            input#js-search.shop__input(type="search" placeholder="Search Snacks")
            button.shop__cta(type="button") Search
          .shop__search-sorting
            p Showing 11 of 11 snacks
            p Sort By
            p Newest
        .shop__wrapper
          .shop__item
            a.shop__add-cart(href="#")
              img(src="../images/shop-cart.png", alt="Add cart from SHop")
            .shop__link
              .shop__img-wrapper
                img(src="../images/products/driedMango.png", alt="Dried Mango")
              .shop__details
                p.shop__name Custard Cake
                  br
                  | By Lotte (Korea)
                p.shop__price $1.99
          .shop__item
            a.shop__add-cart(href="#")
              img(src="../images/shop-cart.png", alt="Add cart from SHop")
            .shop__link
              .shop__img-wrapper
                img(src="../images/products/driedMango.png", alt="Dried Mango")
              .shop__details
                p.shop__name Custard Cake
                  br
                  | By Lotte (Korea)
                p.shop__price $1.99
          .shop__item
            a.shop__add-cart(href="#")
              img(src="../images/shop-cart.png", alt="Add cart from SHop")
            .shop__link
              .shop__img-wrapper
                img(src="../images/products/driedMango.png", alt="Dried Mango")
              .shop__details
                p.shop__name Custard Cake
                  br
                  | By Lotte (Korea)
                p.shop__price $1.99
          .shop__item
            a.shop__add-cart(href="#")
              img(src="../images/shop-cart.png", alt="Add cart from SHop")
            .shop__link
              .shop__img-wrapper
                img(src="../images/products/driedMango.png", alt="Dried Mango")
              .shop__details
                p.shop__name Custard Cake
                  br
                  | By Lotte (Korea)
                p.shop__price $1.99
          .shop__item
            a.shop__add-cart(href="#")
              img(src="../images/shop-cart.png", alt="Add cart from SHop")
            .shop__link
              .shop__img-wrapper
                img(src="../images/products/driedMango.png", alt="Dried Mango")
              .shop__details
                p.shop__name Custard Cake
                  br
                  | By Lotte (Korea)
                p.shop__price $1.99
          .shop__item
            a.shop__add-cart(href="#")
              img(src="../images/shop-cart.png", alt="Add cart from SHop")
            .shop__link
              .shop__img-wrapper
                img(src="../images/products/driedMango.png", alt="Dried Mango")
              .shop__details
                p.shop__name Custard Cake
                  br
                  | By Lotte (Korea)
                p.shop__price $1.99