extends layout.pug

block content
  section.section
    .breadcrumbs
      h2 Asia
      ul.breadcrumbs__list
        li.breadcrumbs__item.text-xs Home
        li.breadcrumbs__item.text-xs Explore Treats
        li.breadcrumbs__item.text-xs Treats From Asia
    .product
      .main-wrapper
        ul.product__list
          li.product__item
            a.product__link(href="#")
              .product__card
                p.product__highlight Philippines
                img(src="../images/products/driedMango.png", alt="Dried mango")
                .product__header
                  h3 Dried Mango
                  p Philippines Brand
          li.product__item
            a.product__link(href="#")
              .product__card
                p.product__highlight Philippines
                img(src="../images/products/driedMango.png", alt="Dried mango")
                .product__header
                  h3 Dried Mango
                  p Philippines Brand
          li.product__item
            a.product__link(href="#")
              .product__card
                p.product__highlight Philippines
                img(src="../images/products/driedMango.png", alt="Dried mango")
                .product__header
                  h3 Dried Mango
                  p Philippines Brand
          li.product__item
            a.product__link(href="#")
              .product__card
                p.product__highlight Philippines
                img(src="../images/products/driedMango.png", alt="Dried mango")
                .product__header
                  h3 Dried Mango
                  p Philippines Brand
          li.product__item
            a.product__link(href="#")
              .product__card
                p.product__highlight Philippines
                img(src="../images/products/driedMango.png", alt="Dried mango")
                .product__header
                  h3 Dried Mango
                  p Philippines Brand
          li.product__item
            a.product__link(href="#")
              .product__card
                p.product__highlight Philippines
                img(src="../images/products/driedMango.png", alt="Dried mango")
                .product__header
                  h3 Dried Mango
                  p Philippines Brand
          li.product__item
            a.product__link(href="#")
              .product__card
                p.product__highlight Philippines
                img(src="../images/products/driedMango.png", alt="Dried mango")
                .product__header
                  h3 Dried Mango
                  p Philippines Brand
          li.product__item
            a.product__link(href="#")
              .product__card
                p.product__highlight Philippines
                img(src="../images/products/driedMango.png", alt="Dried mango")
                .product__header
                  h3 Dried Mango
                  p Philippines Brand
          li.product__item
            a.product__link(href="#")
              .product__card
                p.product__highlight Philippines
                img(src="../images/products/driedMango.png", alt="Dried mango")
                .product__header
                  h3 Dried Mango
                  p Philippines Brand
          li.product__item
            a.product__link(href="#")
              .product__card
                p.product__highlight Philippines
                img(src="../images/products/driedMango.png", alt="Dried mango")
                .product__header
                  h3 Dried Mango
                  p Philippines Brand
          li.product__item
            a.product__link(href="#")
              .product__card
                p.product__highlight Philippines
                img(src="../images/products/driedMango.png", alt="Dried mango")
                .product__header
                  h3 Dried Mango
                  p Philippines Brand
          li.product__item
            a.product__link(href="#")
              .product__card
                p.product__highlight Philippines
                img(src="../images/products/driedMango.png", alt="Dried mango")
                .product__header
                  h3 Dried Mango
                  p Philippines Brand
          li.product__item
            a.product__link(href="#")
              .product__card
                p.product__highlight Philippines
                img(src="../images/products/driedMango.png", alt="Dried mango")
                .product__header
                  h3 Dried Mango
                  p Philippines Brand
          li.product__item
            a.product__link(href="#")
              .product__card
                p.product__highlight Philippines
                img(src="../images/products/driedMango.png", alt="Dried mango")
                .product__header
                  h3 Dried Mango
                  p Philippines Brand
          li.product__item
            a.product__link(href="#")
              .product__card
                p.product__highlight Philippines
                img(src="../images/products/driedMango.png", alt="Dried mango")
                .product__header
                  h3 Dried Mango
                  p Philippines Brand
          li.product__item
            a.product__link(href="#")
              .product__card
                p.product__highlight Philippines
                img(src="../images/products/driedMango.png", alt="Dried mango")
                .product__header
                  h3 Dried Mango
                  p Philippines Brand
          li.product__item
            a.product__link(href="#")
              .product__card
                p.product__highlight Philippines
                img(src="../images/products/driedMango.png", alt="Dried mango")
                .product__header
                  h3 Dried Mango
                  p Philippines Brand
          li.product__item
            a.product__link(href="#")
              .product__card
                p.product__highlight Philippines
                img(src="../images/products/driedMango.png", alt="Dried mango")
                .product__header
                  h3 Dried Mango
                  p Philippines Brand
          li.product__item
            a.product__link(href="#")
              .product__card
                p.product__highlight Philippines
                img(src="../images/products/driedMango.png", alt="Dried mango")
                .product__header
                  h3 Dried Mango
                  p Philippines Brand
          li.product__item
            a.product__link(href="#")
              .product__card
                p.product__highlight Philippines
                img(src="../images/products/driedMango.png", alt="Dried mango")
                .product__header
                  h3 Dried Mango
                  p Philippines Brand
          li.product__item
            a.product__link(href="#")
              .product__card
                p.product__highlight Philippines
                img(src="../images/products/driedMango.png", alt="Dried mango")
                .product__header
                  h3 Dried Mango
                  p Philippines Brand
          li.product__item
            a.product__link(href="#")
              .product__card
                p.product__highlight Philippines
                img(src="../images/products/driedMango.png", alt="Dried mango")
                .product__header
                  h3 Dried Mango
                  p Philippines Brand
          li.product__item
            a.product__link(href="#")
              .product__card
                p.product__highlight Philippines
                img(src="../images/products/driedMango.png", alt="Dried mango")
                .product__header
                  h3 Dried Mango
                  p Philippines Brand
          li.product__item
            a.product__link(href="#")
              .product__card
                p.product__highlight Philippines
                img(src="../images/products/driedMango.png", alt="Dried mango")
                .product__header
                  h3 Dried Mango
                  p Philippines Brand
          li.product__item
            a.product__link(href="#")
              .product__card
                p.product__highlight Philippines
                img(src="../images/products/driedMango.png", alt="Dried mango")
                .product__header
                  h3 Dried Mango
                  p Philippines Brand
          li.product__item
            a.product__link(href="#")
              .product__card
                p.product__highlight Philippines
                img(src="../images/products/driedMango.png", alt="Dried mango")
                .product__header
                  h3 Dried Mango
                  p Philippines Brand
          li.product__item
            a.product__link(href="#")
              .product__card
                p.product__highlight Philippines
                img(src="../images/products/driedMango.png", alt="Dried mango")
                .product__header
                  h3 Dried Mango
                  p Philippines Brand
        .product__show-more
          span#next Show More

block script
  script(src="../js/showmore.js")