footer.footer
  .main-wrapper
    .footer__contacts
      .footer__card
        h2.footer__header Discover New Treats
        p.footer__text Sign up to the newsletter to receive promo codes and latest updates!
      .footer__card
        h4.footer__email Signup Now
        .footer__wrapper
          .footer__input-wrapper
            i.icon-email
            input.w-full(type="text" placeholder="Input your email here")
          button.button.button--secondary.w-full Submit
    .footer__socials
      .footer__social-wrapper
        div(class="tablet:flex")
          a(href="#")
            img.footer__mobile-logo(src="../images/logo-white.png", alt="Treats Logo")
          ul.footer__links
            li.footer__items
              a(href="#") FAQ 
            li.footer__items
              a(href="#") Terms 
            li.footer__items
              a(href="#") Privacy 
            li.footer__items
              a(href="contact-us.html") Contact 
            li.footer__items
              a(href="#") Sponsorship 
            li.footer__items
              a(href="#") Music
        div
          ul.footer__links.footer__links--socials
            li.footer__items.footer__items--socials
              a(href="#")
                i.fa-brands.fa-instagram
            li.footer__items.footer__items--socials
              a(href="#")
                i.fa-brands.fa-twitter
            li.footer__items.footer__items--socials
              a(href="#")
                i.fa-brands.fa-facebook
            li.footer__items.footer__items--socials
              a(href="#")
                i.fa-brands.fa-pinterest
      .footer__copyright
        i.fa-regular.fa-copyright
        p Treats 2023, All Rights Reserved