.join
  .main-wrapper
    .join__wrapper.animatedParent.animateOnce
      .join__header
        h2 Join The #TryTreats Family On Instagram
        p Share photos of your Treats with us!
      .join__card(data-sequence='500')
        .join__item-wrapper.animated.fadeInLeftShort(data-id='1')
          img.join__item(src="../images/join1.png", alt="Treats Instagram")
        .join__item-wrapper.animated.fadeInLeftShort(data-id='2')
          img.join__item(src="../images/join2.png", alt="Treats Instagram")
        .join__item-wrapper.animated.fadeInRightShort(data-id='2')
          img.join__item(src="../images/join3.png", alt="Treats Instagram")
        .join__item-wrapper.animated.fadeInRightShort(data-id='1')
          img.join__item(src="../images/join4.png", alt="Treats Instagram")
      .join__card.join__card--mobile.js-carousel
        .join__item-wrapper
          img.join__item(src="../images/join1.png", alt="Treats Instagram")
        .join__item-wrapper
          img.join__item(src="../images/join2.png", alt="Treats Instagram")
        .join__item-wrapper
          img.join__item(src="../images/join3.png", alt="Treats Instagram")
        .join__item-wrapper
          img.join__item(src="../images/join4.png", alt="Treats Instagram")
      button.button.button--secondary.animated.fadeInUp(class="mx-auto") Join Us Now