.testimony-social.testimony-social--component
  .main-wrapper
    .testimony-social__list.animatedParent.animateOnce(data-sequence='500')
      .testimony-social__card.animated.fadeInLeftShort(data-id='1')
        a.testimony-social__link(href="#")
          img(src="../images/user-1.png", alt="Treat user")
      .testimony-social__card.animated.fadeInLeftShort(data-id='2')
        a.testimony-social__link(href="#")
          img(src="../images/user-2.png", alt="Treat user")
      .testimony-social__card.animated.fadeInRightShort(data-id='2')
        a.testimony-social__link(href="#")
          img(src="../images/user-3.png", alt="Treat user")
      .testimony-social__card.animated.fadeInRightShort(data-id='1')
        a.testimony-social__link(href="#")
          img(src="../images/user-4.png", alt="Treat user")
    .testimony-social__list.testimony-social__list--mobile.js-carousel
      .testimony-social__card
        a.testimony-social__link(href="#")
          img(src="../images/user-1.png", alt="Treat user")
      .testimony-social__card
        a.testimony-social__link(href="")
          img(src="../images/user-2.png", alt="Treat user")
      .testimony-social__card
        a.testimony-social__link(href="")
          img(src="../images/user-3.png", alt="Treat user")
      .testimony-social__card
        a.testimony-social__link(href="")
          img(src="../images/user-4.png", alt="Treat user")