.testimony.testimony--component
  .main-wrapper.main-wrapper--testimony
    .testimony__card.animatedParent.animateOnce
      .testimony__header
        h3 What Customer 
          br.testimony__separator
          | Say About Treats
      .testimony__cards.animated.bounceIn
        .testimony__list
          .multiple-items.js-single-item