.gift {
  @apply pt-[42px] pb-[50px] tablet:pb-[100px] tablet:pt-[91px];

  &__wrapper h2 {
    @apply text-center font-header font-semibold text-3xl text-crimson mb-[23px] tablet:mb-[41px];
  }

  &__best-value {
    @apply w-fit rounded-[20px] bg-crimson text-text-light font-header font-semibold text-base px-[9px] py-[3px] mx-auto mb-[33px] tablet:mb-0 tablet:mr-0 tablet:absolute right-[30px] tablet:top-[30px];
  }

  &__item {
    @apply border border-solid border-border-line py-10 px-5 rounded-[10px] mb-5 tablet:mb-[30px] tablet:px-10 tablet:py-[45px] relative tablet:rounded-[20px];

    &:last-of-type {
      @apply mb-0 border-primary border-[3px];

      & .gift__img img {
        @apply relative left-[10px];
      }
    }

    &-wrapper {
      @apply tablet:grid tablet:grid-cols-2 tablet:items-center;
    }
  }

  &__list {
    @apply mt-4 mb-[27px];
  }

  &__img img {
    @apply mx-auto block;
  }

  &__header {
    @apply pt-[14px] text-center tablet:pt-0 tablet:text-left;

    & h3 {
      @apply font-header font-semibold text-[26px] mb-[6px] text-light-blue tablet:text-3xl;
    }

    & p {
      @apply font-text font-semibold text-base text-text-dark tablet:text-lg;
    }

    &--pc {
      @apply hidden text-center mb-2 tablet:block;
    }

    &--sp {
      @apply tablet:hidden;
    }
  }

  &__row {
    @apply flex mb-[15px] items-center;

    &:last-of-type {
      @apply mb-0;
    }

    & img {
      @apply w-[42px] h-[42px] mr-5;
    }

    & p {
      @apply font-text font-medium text-[13px] text-text-dark leading-none;
    }
  }

  &__item-list {
    &--subscribe {
      @apply tablet:grid tablet:grid-cols-2 tablet:gap-x-5;

      & .gift__item {
        @apply tablet:mb-0;
      }

      & .gift__img img {
        @apply tablet:left-0;
      }

      & .gift__item-wrapper {
        @apply tablet:block;
      }
    }
  }
}